body {
    font-family: "Open Sans", sans-serif;

}

header {
    background-color: black;
    height: 790px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.home-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 5px;
    font-weight: 800;
    font-size: 24px;
}

.home-header ul {
    display: flex;
    text-transform: uppercase;
    padding-top: 30px;
    list-style: none;
}

.home-header ul li {
    margin-left: 30px;

}

.home-header nav a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.home-header nav a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    margin-top: 5px;
    background-color: orange;
    transition: 0.5s;
}

.home-header nav a:hover::after {
    width: 100%;
}

header h1 {
    max-width: 1200px;
    margin: 225px auto 0;
    font-weight: 300;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
}

header h1 span {
    color: orange;
    font-weight: 600;
}

header p {
    color: #999;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

header p span {
    font-weight: 700;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 615px;
    background-color: #fff;
}

.monitor img {
    margin-top: 105px;
    width: 510px;
    height: 410px;
}

.description {
    margin-left: 175px;
    margin-top: 140px;
    width: 415px;
    color: #b1b1b1;
    font-size: 18px;
}

.description p:nth-child(1) {
    color: #000000;
    margin-top: 0;
    font-size: 34px;
    text-transform: uppercase;
}

.description span {
    font-weight: 700;
}

.description p:nth-child(1)::after {
    content: "";
    display: block;
    width: 97%;
    height: 3px;
    margin-top: 20px;
    background-color: orange;
}

.description ul li {
    font-size: 16px;

}